# Если mod_rewrite есть на сервере
# <IfModule mod_rewrite.c>

	# Включаем модуль mod_rewrite выполняющий URL преобразования на лету.
	# RewriteEngine on

	# RewriteCond %{REQUEST_FILENAME} !-d
	# RewriteCond %{REQUEST_FILENAME} !-f
	# RewriteRule ^.*$ /index.php

# </IfModule>



Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

RewriteBase /

# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteCond %{HTTP_HOST} !^$
# RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_URI} !.*/$
# RewriteRule ^(.*)$ $1/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php